@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@500&display=swap');

@font-face {
  font-family: 'Brittany Signature';
  src: url(../assets/fonts/BrittanySignature.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Bree Serif', serif;
  src: url(../assets/fonts/BreeSerif-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slider {
  position: relative;
  padding-top: 10px;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imager {
  max-width: 428px;
  max-height: 428px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}